{% extends 'base.html' %}
  {% block content %} {% block styles %} 
  {% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
        <div class="row mt-3">
          <div class="col-sm-12">
              <a class="btn btn-danger"><i class="material-icons">arrow_back</i> <span>Logout</span></a> <h2>Home</h2> 
          </div>
        </div>
          <div class="row">
            <div class="col-sm-7">
            <div class="col-md-10 col-xs-10 col-sm-10">
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
         </div>
        </div> 
        <p> </p>
        <br>
        <ul>
          <li><strong>Clientes:</strong> {{ num_clientes }}</li>
          <li><strong>Itens:</strong> {{ num_itens }}</li>
          <li><strong>Pedidos:</strong> {{ num_pedidos }}</li>
        </ul>
    </div> 
    <p  style="color:rgb(255, 255, 255); margin-left: 2%;">Você visitou está pagina {{ num_visits }}{% if num_visits == 1 %} vez{% else %} vezes{% endif %}.</p>
</div>  
{% endblock %}